<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blood Donation Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="container">
    <h1>Add a Donor</h1>
    <hr>

    <form action="#" th:action="@{/save}" th:object="${user}"
          method="POST">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="fullname">Full Name:</label>
            <input th:field="*{fullname}" type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input th:field="*{email}" type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <input  th:field="*{gender}" type="radio" id="male" name="gender" value="male" required>
            <span for="male">Male</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input  th:field="*{gender}" type="radio" id="female" name="gender" value="female" required>
            <span for="female">Female</span>
            &nbsp;
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input th:field="*{age}" type="text" id="age" name="age" placeholder="Enter your age" required>
        </div>


        <div class="form-group">
            <label for="bloodgroup">Blood Group:</label>
            <select th:field="*{bloodgroup}" id="bloodgroup" name="bloodgroup" required>
                <option value="">Select Blood Group</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="O-">O-</option>
            </select>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <textarea th:field="*{address}" id="address" name="address" placeholder="Enter your address" required></textarea>
        </div>

        <button type="submit" class="btn" >Save</button>
    </form>
    <div class="login-register">
        <a th:href="@{/admin-page}" class="register-link">Back to Admin Page</a>
    </div>
</div>

</body>
</html>