   body {
             font-family: Arial, sans-serif;

             color: white;
             margin: 0;
             padding: 0;
         }

         .header {
             background-color: #45b6fe;
             padding: 10px;
             text-align: center;
         }

         .header h1 {
             margin: 0;
         }

         .container {
             max-width: 1200px;
             margin: 20px auto;
             padding: 20px;

             border-radius: 5px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
         }

         h2 {
             color: #45b6fe;
         }
         table td{
         color:black;
         }
         form{
         margin-left:70%;
         margin-bottom:40px;
         }